/* TYPOGRAPHY */
@font-face {
  font-family: "Lucky";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/luckiestguy.woff2");
}

body {
  background-image: url("../images/dusk.jpg");
  background-color: rgb(42, 27, 60);
}

h2 {
  font-family: "Lucky", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: #8600a0;
  font-size: 1.25rem;
}

h3 {
  font-family: "Lucky", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  margin: 0;
  text-align: center;
  color: #45c900;
  text-transform: uppercase;
}

h4 {
  font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #8600a0;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 4rem;
  display: block;
  margin: 7rem auto 0 auto;
  text-align: center;
}

h5 {
  font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #8600a0;
  font-size: 9rem;
  text-shadow: #45c900 1px 0 10px;
}

h6 {
  font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #8600a0;
  font-size: 4.25rem;
  line-height: 50pt;
}

#victorious-player {
  font-size: 2rem;
  line-height: 2rem;
}

@media screen and (min-width: 47.85rem) {
  h3 {
    font-size: 3rem;
    display: inline-block;
  }

  h4 {
    font-size: 8rem;
    line-height: 7rem;
  }
}

/* ELEMENTS */

ul {
  background-color: #ffe400;
  border-radius: 1rem;
  border: 0.125rem solid #8600a0;
  width: 12rem;
  height: auto;
  margin: 0 auto;
  padding: 0.5rem 0;
  list-style-type: none;
}

li {
  font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  color: #8600a0;
}

hr {
  margin: 1rem auto;
  padding: 0;
  width: 77%;
  border-top: 2px solid #8600a0;
}

@media screen and (min-width: 47.85rem) {
  hr {
    width: 15rem;
  }
}

/* MODAL */
.modal-content {
  border-radius: 2rem;
  border: 5px solid #8600a0;
  width: 80%;
  margin: 5rem auto 0 auto;
  text-align: center;
}

.modal-header {
  display: block;
}
.modal-footer {
  display: block;

}
@media screen and (min-width: 47.85rem) {
  .modal-content {
    margin-top: 12rem;
  }
}

/* MAIN */
.site-container {
  position: relative;
  padding-top: 1rem;
}
.logo {
  position: absolute;
  z-index: 500;
  width: 17rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  animation-name: header;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

@keyframes header {
  0% {
    width: 18.5rem;
  }

  50% {
    width: 20rem;
  }

  100% {
    width: 18.5rem;
  }
}

.game-container {
  width: 90%;
  max-width: 20rem;
  height: 35rem;
  background: linear-gradient(#ffe400, #8600a0);
  border-radius: 2rem;
  border: 0.35rem solid #45c900;
  /* margin: -3rem auto 0 auto; */
  box-shadow: 0px 0px 1.25rem 0.25rem #ffe600cf;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
@media screen and (min-width: 47.85rem) {
  .site-container {
    position: relative;
    padding-top: 3rem;
  }

  .logo {
    width: 37rem;
  animation-name: headerDesktop;
  }
  
  @keyframes headerDesktop {
    0% {
      width: 37rem;
    }

    50% {
      width: 40rem;
    }

    100% {
      width: 37rem;
    }
  }
}
  /* SPLASH SCREEN */
  .game-menu {
    margin: 2.25rem auto 0 auto;
    text-align: center;
  }

  .diff-select {
    margin-top: 0.75rem;
  }

  #difficulty {
    font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 12rem;
    height: 2rem;
    text-align: center;
    color: #ffe400;
    background-color: #8600a0;
    border-radius: 0.5rem;
    border: 0.125rem solid #8600a0;
  }

  .enter-name {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 15rem;
  }

  #player-name {
    font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #8600a0;
    background-color: #ffe400;
    border: 0.125rem solid #8600a0;
    border-radius: 0.5rem;
    text-align: center;
    height: 2rem;
  }

  #players {
    margin-top: 1rem;
  }

  .play-button-cnt {
    margin-top: 0.5rem;
  }

  .splashbg {
    background: linear-gradient(lime, yellow);
    box-shadow: inset 0px 0px 2rem 1rem #ffe400, 0px 0px 2rem 0.5rem #ffe400;
    border-color: #8600a0;
  }

  @media screen and (min-width: 47.85rem) {
    .game-menu {
      margin-top: 5rem;
    }
  }

  /* GAME SCREEN */

  .countdown {
    background-color: #fff;
    border: 0.5rem solid #45c900;
    border-radius: 15rem;
    z-index: 10000;
    text-align: center;
    width: 18rem;
    height: 18rem;
    /* margin: -32rem auto 0 auto; */
    padding-top: 3.75rem;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .game-screen {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 3.5rem) 7.5rem;
    margin: 2.25rem auto 0 auto;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "cell-0 cell-1 cell-2 cell-3"
      "cell-4 cell-5 cell-6 cell-7"
      "cell-8 cell-9 cell-10 cell-11"
      "cell-12 cell-13 cell-14 cell-15"
      "cell-16 cell-17 cell-18 cell-19"
      "cell-20 cell-21 cell-22 cell-23"
      "cell-24 cell-25 cell-26 cell-27";
  }

  .score-board {
    font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(255, 247, 0);
    text-align: center;
    letter-spacing: 0.0625rem;
    border-radius: 1.3rem;
    box-shadow: inset 0px 0px 0.75rem rgba(0, 0, 0, 0.571);
    background-color: rgba(255, 255, 255, 0.25);
    height: 6.375rem;
    padding-top: 0.75rem;
    grid-column: 1 / 5;
    grid-row: 8 / 9;
    display: block;
    width: 18rem;
  }

  .player-score {
    color: #45c900;
    font-size: 2.5rem;
    text-shadow: -1px -1px 0 #ffe400, 1px -1px 0 #ffe400, -1px 1px 0 #ffe400,
      1px 1px 0 #ffe400;
  }

  @media screen and (min-width: 47.85rem) {
    .countdown {
      width: 18rem;
      height: 18rem;
      /* margin-top: -67vh; */
      padding-top: 3.75rem;
    }

    /* .logo {
        max-width: 35rem;
        margin-top: 3.25rem;
        z-index: 50000;
    } */

    .game-container {
      max-width: 43.75rem;
      height: 37.75rem;
      margin-top: 4.5rem;
      box-shadow: 0px 0px 1.25rem 0.25rem #ffe600cf;
    }

    .splashbg {
      background: linear-gradient(lime, yellow);
      box-shadow: inset 0px 0px 2rem 1rem #ffe400, 0px 0px 2rem 0.5rem #ffe400;
      border-color: #8600a0;
    }

    .game-screen {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
        "cell-0 cell-1 cell-2 cell-3 cell-4 cell-5 cell-6"
        "cell-7 cell-8 cell-9 cell-10 cell-11 cell-12 cell-13"
        "cell-14 cell-15 cell-16 cell-17 cell-18 cell-19 cell-20"
        "cell-21 cell-22 cell-23 cell-24 cell-25 cell-26 cell-27";
      margin-top: 4rem;
    }
    .interface {
      grid-column: 1 / 8;
      grid-row: 5 / 6;
      grid-template-columns: 1rem 2.5rem 1fr 0.75rem;
      grid-template-rows: 2.125rem 2.125rem 2.125rem;
    }

    .score-board {
      padding-top: 1.5rem;
      grid-column: 1 / 8;
      grid-row: 5 / 6;
      width: 41.75rem;
    }

    .player-score {
      padding-left: 2rem;
    }
  }

  /* OBJECTS */

  .vaccine {
    width: 100%;
    /* max-width: 43.75rem; */
    margin-top: 1.75rem;
    z-index: 5000;
    float: right;
  }
  .timer-container {
    width: 12.5rem;
  }

  #progress-bar {
    width: 100%;
    float: left;
    position: relative;
    left: 4.75em;
    height: 1.25rem;
    background-color: lime;
    margin: -1.5rem 4.8rem 0 auto;
    z-index: 10000;
    display: absolute;
    border-right: 0.25rem solid black;
  }
  .corona {
    background-repeat: no-repeat;
    background-position: center;
    height: 3.5rem;
    width: 3.5rem;
    animation-name: bobble;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
  }

  @keyframes bobble {
    0% {
      padding: 0;
    }

    50% {
      padding: 10px;
    }
    100% {
      padding: 0;
    }
  }

  /* remove selection styles */

  .corona::selection {
    color: none;
    background: none;
  }
  @media screen and (min-width: 47.85rem) {
    .corona {
      height: 6.5rem;
      width: 6.5rem;
    animation-duration: 0.5s;
    }
    .vaccine {
      margin-top: 3rem;
    }

    #progress-bar {
      width: 100%;
      float: left;
      position: relative;
      left: 10.5em;
      height: 2.5rem;
      /* background-image: url('../images/timer-fill.svg'); */
      background-color: lime;
      margin: -3.125rem 4.8rem 0 auto;
      z-index: 10000;
      display: absolute;
      border-right: 0.25rem solid black;
    }

    .timer-container {
      width: 28rem;
    }
  }
  /* BUTTONS */
  /* SPLASH SCREEN */
  #how-to-play {
    font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #ffe400;
    font-size: 1.25rem;
    background-color: #8600a0;
    border: 0.125rem solid #ffe400;
    border-radius: 0.75rem;
    width: 12rem;
    height: 2.5rem;
  }

  #add-player {
    font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #ffe400;
    font-size: 1.25rem;
    background-color: #8600a0;
    border: 0.125rem solid #ffe400;
    border-radius: 0.75rem;
    width: 10.75rem;
    height: 2.5rem;
    margin: 0 auto;
  }

  #play-game {
    font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #ffe400;
    font-size: 1.5rem;
    background-color: #8600a0;
    border: 0.25rem solid #45c900;
    border-radius: 0.75rem;
    width: 13rem;
    height: 3.5rem;
    margin: 0.25rem auto;
  }

  #play-round-button {
    font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 2rem;
    background-color: #8600a0;
    border: 0.25rem solid #45c900;
    border-radius: 0.75rem;
    width: 9rem;
    height: 3.5rem;
    margin: 2rem auto 0 auto;
    padding-top: 0.25rem;
  }

  .more-info {
    font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 1rem;
    background-color: #8600a0;
    border: 0.125rem solid #45c900;
    border-radius: 0.75rem;
    margin: 0 auto 1rem auto;
    padding: 0.25rem .5rem;

  }

  .more-info:hover,
  .more-info:focus {
    color: #8600a0;
    background-color: #45c900;
    border-color: #8600a0;
  }

.modal-close {
  font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #8600a0;
  font-size: 1rem;
  background-color: #ffe400;
  border: 0.125rem solid #45c900;
  border-radius: 0.75rem;
  margin: 0 auto 1rem auto;
  padding: 0.25rem .5rem;

}

  #play-round-button:hover {
    color: #ffe400;
  }

  #add-player:hover,
  #how-to-play:hover,
  #add-player:focus,
  #how-to-play:focus {
    color: #8600a0;
    background-color: #ffe400;
    border-color: #8600a0;
  }

  #play-game:hover,
  #play-game:focus {
    color: #8600a0;
    background-color: #45c900;
    border-color: #8600a0;
  }

  .menu-options {
    text-transform: uppercase;
    width: 14rem;
    margin: 3rem auto 0 auto;
    padding: 0;
  }

  #nextRoundButton {
    font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #ffe400;
    font-size: 1rem;
    background-color: #8600a0;
    border: 0.25rem solid #45c900;
    border-radius: 0.75rem;
    width: 15rem;
    height: 3.5rem;
    margin: 2rem auto;
    display: block;
  }

  #restart:hover,
  #restart:focus {
    color: #8600a0;
    background-color: #45c900;
    border-color: #8600a0;
  }

  #restart,
  .quit {
    font-family: "Lucky", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #ffe400;
    font-size: 1.5rem;
    background-color: #8600a0;
    border: 0.25rem solid #45c900;
    border-radius: 0.75rem;
    width: 15rem;
    height: 3.5rem;
    margin: 2rem auto;
    display: block;
  }

  #restart:hover,
  .quit:hover,
  #restart:focus,
  .quit:focus {
    color: #8600a0;
    background-color: #45c900;
    border-color: #8600a0;
  }

  @media screen and (min-width: 47.85rem) {
    #nextRoundButton {
      font-size: .85rem;
      width: 12rem;
      height: 3.5rem;
      margin: 2rem auto;
      display: block;
    }

    .menu-options {
      text-transform: uppercase;
      width: 30rem;
      margin: 3rem auto 0 auto;
    }

  }

  /* GAME SCREEN */
  .next-player-screen {
    text-align: center;
  }

  /* GAME OVER SCREEN */
  .game-over-screen {
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem;
  }

  /* HIDE CLASS */
  .hide {
    display: none;
  }
  .bg-info,
  .bg-success{
    background: rgb(17,121,9);
    background: linear-gradient(0deg, rgba(17,121,9,1) 0%, rgba(89,246,60,1) 50%, rgba(177,237,42,1) 69%, rgba(215,255,132,1) 79%, rgba(177,232,44,1) 89%, rgba(92,227,23,1) 100%);
  }
  .bg-warning{
    background: rgb(52,9,121);
    background: linear-gradient(0deg, rgba(52,9,121,1) 0%, rgba(147,60,246,1) 50%, rgba(159,42,237,1) 69%, rgba(208,132,255,1) 79%, rgba(155,44,232,1) 89%, rgba(142,23,227,1) 100%);
  }
  .bg-danger{
    background: rgb(121,9,9);
    background: linear-gradient(0deg, rgba(121,9,9,1) 0%, rgba(246,60,60,1) 50%, rgba(237,83,42,1) 69%, rgba(255,162,132,1) 79%, rgba(234,92,35,1) 89%, rgba(227,108,23,1) 100%);
  }